@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');





:root{ 
	--maintext:rgb(207, 188, 188);
	--secondarytext:#ffffff;

	--maincolor:#0a1310;
	--secondarycolor:#0f221bf5;
	--bordercolor:#abbbd3;

	--themedotborder:#e6d8d8;
	--preview:rgba(221, 209, 209, 0.411);
	--headerfont: 'Courier New', Courier, monospace;
    --buttoncolor:rgb(187, 184, 184);
    --mainnavButton:rgb(41, 109, 80);
	--Reputation:rgb(99, 46, 99);
	
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body, html{
    color: var(--maintext);
    scroll-behavior: smooth;
    background-color: var(--maincolor);
    margin: 0;
    padding: 0;}
.zoomin{
    visibility: hidden;
    position: fixed;
    margin: 10px;
    border-radius: 10px;
    background-color: #0a1321;
    text-align: center;
}
.buybuy{
    background-color:cornsilk ;
    transition: 0.3s;
    color: blue; 
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

.buybuy:hover{
        color: cornsilk; 
        text-decoration: none;
        background-color: rgb(9, 9, 124);
        }
.slider {
        overflow: hidden;
    }
.slider figure{
    transition: 1s;
    width: 200%;
    position: relative;
    margin: 0;
    left: 0;
    height: fit-content;
    animation: 10s slider infinite;
}

.slider figure:hover{
    width: 210%;
    position: relative;
    animation: 10s slider infinite;
}

.slider figure img {
    float: left;
    width: 21%;
    padding-left: 100px;
    height: auto;
}

@keyframes slider{
    0% {
        
        left: 0%;
    }
    
    25%{
        left:3%;
    }
    
 
    
    50% {
        left: -60%;
    }
}

.slider1 {
    overflow: hidden;
}

.slider1 figure{
    transition: 1s;
    width: 200%;
    position: relative;
    margin: 0;
    left: 0;
    height: fit-content;
    animation: 12s slider infinite;
}

.slider1 figure:hover{
    width: 210%;
    position: relative;
}

.slider1 figure img {
float: left;
width: 21%;
padding-left: 100px;
height: auto;
}

@keyframes slider1{
0% {
    
    right: 0%;
}

25%{
    right:3%;
}



50% {
    right: -60%;
}
}


.slider2 {
    overflow: hidden;
}

.slider2 figure{
    transition: 1s;
    width: 200%;
    position: relative;
    margin: 0;
    left: 0;
    height: fit-content;
    animation: 10s slider infinite;
}

.slider2 figure:hover{
width: 220%;
position: relative;
animation: 10s slider infinite;
}

.slider2 figure img {
float: left;
width: 20%;
padding-left: 100px;
height: auto;
}

@keyframes slider2{
0% {
    
    right: 0%;
}

25%{
    right:3%;
}



50% {
    right: -60%;
}
}


.nav ul{margin: 10px;}

.nav li{display: inline;}

.popup{
    transition: 0ms;
    font-size: 300%;
    left: 20%;
    align-content: center;
    visibility: hidden;
    text-align: center;
    background-color: red;
    color: white;
    border-radius: 20px;
    margin: 10px;
    position: absolute ;

}

.mpesaError {


    background-color: white; 
    align-content: center;
    text-align: center;
    color: var(--secondarycolor);
    border-radius: 20px;
    position: fixed;
    visibility: hidden;
    margin-bottom: 100px;
    margin-right: 20%;
}


.muuri{
    font-family: 'East Sea Dokdo', cursive;
     text-align: center;
    margin: 0em;
    font-size: 2.4em;
    font-weight: normal;
    color: gold;
    text-shadow: 1em bisque;

}
.animage{
    height: auto;
}
.anime{
    position: relative;
    width: 300px;
    height: 350px;
    background-color: #080c14 ;
    border-radius: 30px;
    overflow: hidden;
}
.anime::before{
    content:'' ;
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background-color: #0a1321;
    transform: skewY(345deg);
    transition: 0.7s;

}
.anime:hover::before{
    top: -70%;
    transform: skewY(390deg);

}

.anime::after{
    content: 'Muuri' ;
    opacity: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: yellowgreen;
}
.anime .anime-image{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.anime .anime-image  img {
    max-width: 100%;
    transition: 0.7s;
}
.anime:hover .anime-image img {
    transition: 0.65s;
    max-width: 50%;
}
.anime .animedetails{
position: relative;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
z-index: 1;

}
.animeprice{
     position: relative;
     top: -10px;
     opacity: 0;
     padding: 10px 30px;
     margin-top: 15px;
     transition: 0.7s;
 }
 .anime:hover .animeprice{
     top: 0;
     opacity: 1;
 }

.buymusic{
    transition: 0.5s;

    text-align: center;
    vertical-align: middle;
    padding: .27em;
    cursor: pointer;
    margin: .5em 1% .2em 1%;
    color: var(--secondarytext);
    border: 2px solid rgb(156, 156, 199);
    background: var(--maincolor);
    border-radius: 30px;
    font-size: 1.5em;
    font-weight: lighter;

}

.buymusic:hover{
    background:var(--secondarycolor);
    color: var(--maintext);
    font-weight: bold;
    font-size: 1.4em;

}

.songslist{
    padding: .5em;
    
    display: inline-block;
}

.nav a{
    display: inline-block;
    padding: 0 5%;
    color: white;
    text-decoration: none;
}

.mainnav{
    align-items: center;
    margin-right: 0px;
    position: fixed;
    font-size: x-large;
    width: 100%;
    display: flex;
    height: auto;
    background-color: rgba(3, 20, 31, 0.918);
    border-bottom: 1px solid rgba(255, 255, 255, 0.726);
    transition: 0.8s;
}

.mainnav li{
    padding: 0em;
    margin-right: 10px;

}
.mainnav ul{
    flex-grow: 1;
    text-align: center;
    color: rgba(255, 248, 220, 0.15);

}
.mainnav a{
    color: rgb(255, 248, 220);
	opacity: 40%;
	

}
.nav a:hover{
	transition: ease-in-out 0.3s;
    font-weight: bold;
    font-size: 101%;
    opacity: 100%;
    border-radius: 30px;
    background-color: rgba(255, 217, 0, 0.187);
    color:gold;

}

.header{
    color: rgb(196, 32, 32);
    background: url(bg1.jpeg) ;
    align-items: center;
    width: 90%;
    background-color: rgba(11, 46, 55, 0.733);
    background-size: cover;
    background-blend-mode:multiply ;
    padding-bottom: 20px;
}


.muuriheader{
    font-size:7em ;
	padding-top: 0.5em;
	text-shadow: -1px -1px 2px var(--maincolor);
    font-weight: bolder;

}


.about{
	background-color: var(--secondarycolor);
}
.container{
    max-width: 1000px;
    margin: 0;
    padding: 0 ;
}

.container1{
    max-width: 1200px;
    margin: 1px ;
    padding: 0 0.5em;
}
  
.section-header{
    color: blue;
    text-align: center;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.btn{
    
    text-align: center;
    vertical-align: middle;
    padding: .27em;
    cursor: pointer;
    margin: .5em 1% .2em 1%;
    color: white;
    border: 2px solid rgb(156, 156, 199);
    background: rgba(255, 255, 255, 0.185);
    border-radius: 0;
    font-size: 1em;
    font-weight: lighter;
    transition: 0.5s;

}
.btn:hover{
    background-color: rgba(3, 8, 22, 0.424);
}

.okbtn{
    
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: var(--maintext);
    border: 0.5px solid rgb(156, 156, 199);
    background: var(--secondarycolor);
    border-radius: 7px;
    font-weight: bold;
    font-size: 100%;
    transition: 0ms;

}
.okbtn:hover{
    background-color: var(--maintext) ;
    color: var(--secondarycolor);

}


.btn-header, .newmusic{
    margin: .5em 1% .2em 1%;
    color: white;
    border: 2px solid rgb(156, 156, 199);
    background: transparent;
    border-radius: 0;
    font-size: 1em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}
.newmusic:hover{
    color: blue;

}

.play{

    margin: 0 auto;
    color: blue;
    display: block;
    font-size: 4em;
    border-radius: 45%;
    padding: 0;
    width: 100px;
    height: 100px;
    
}
.play:hover{
    transition: ease-in-out,1s;
    font-size: 3em;
    color: rgb(103, 103, 168);
}
.play1{

	margin-right: 10px;   
	color: blue;
    display: block;
    font-size: 1em;
    padding: 0;
    width: 10px;
	height: 10px;
	
	
    
}


.songs-row{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.songs-row:last-child{
    border-bottom: none;

}

.itemx{
    color: rgba(22, 21, 21, 0.582);
    padding-right: 1em;
    display: inline-block;

}


.watch{
color: blue;
}

.item{
    color: rgb(54, 165, 72);
    padding-right: 1em;
    display: inline-block;
    font-weight: bolder ;
}

.footer{
    color: rgb(55, 11, 175);
    background-color: #0a1310f5;
    position: fixed;
    justify-content:end ;
    left: 2px;
    bottom: 5px;
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #abbbd3;
 
}

.headerimage{
    display: flex;
    align-items: end;
}

.headerimage ul{
    flex-grow: 1;
    text-align: end;
}

.headerimage li{
    padding: 0.1em;
    
}

.footercontainer{
    display: flex;
    align-items: end;
}

.footercontainer ul{
    flex-grow: 1;
    text-align: end;
}

.footernav{
    width: 100%;
}

.footernav li{
    padding: 0.5em;
    
}

.footernav img{
    margin-top: 4px;
    width: 30px;
    height: 25px;
}

.buy{
    background-color: rgba(245, 233, 233, 0.637);
    border-radius: 10% 40%;
}
.buy:hover{
    background-color: rgba(31, 121, 46, 0.459);
    
}

.merch{
    margin: 30px;
}
.merch:hover{
    transition: 0.4s;
    font-size: 105%;
    font-size-adjust: 2s;}
.merchtitle{
    display: block;
    width: 100%;
  
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 15px;
    color: brown;
}



.merchdetails{
    display: flex;
    align-items: center;
    padding: 1px;
}

.merchprice{
    flex-grow: 0.5;
    
}

.merchs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.animage{
    height: auto;
}
.anime{
    position: relative;
    width: 300px;
    height: 350px;
    background-color: #080c14 ;
    border-radius: 30px;
    overflow: hidden;
}
.anime::before{
    content:'' ;
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background-color: #0a1321;
    transform: skewY(345deg);
    transition: 0.7s;

}
.anime:hover::before{
    top: -70%;
    transform: skewY(390deg);

}

.anime::after{
    content: 'Muuri' ;
    opacity: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: yellowgreen;
}
.anime .anime-image{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.anime .anime-image  img {
    max-width: 100%;
    transition: 0.7s;
}
.anime:hover .anime-image img {
    transition: 0.65s;
    max-width: 50%;
}
.anime .animedetails{
position: relative;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
z-index: 1;

}
.animeprice{
     position: relative;
     top: -10px;
     opacity: 0;
     padding: 10px 30px;
     margin-top: 15px;
     transition: 0.7s;
 }
 .anime:hover .animeprice{
     top: 0;
     opacity: 1;
 }
 
.cart-header{
    border-bottom: 1px solid black;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.2em;

}
.cart-column{
    border-bottom: 1px solid black;
    align-self: center;
    text-align: center;
    margin-right:2em ;
    padding-bottom: 10px;
    margin-top: 10px; 
}

.cart-row{
    display: flex;
    

}
 .cart-price{
     margin-right: 1em;
     width: 20%;
     font-size: 1.2em;
 }

.btn-danger{
    background-color: rgba(255, 0, 0, 0.664);
    text-align: center;
    vertical-align: middle;
    transition: 0.2s;
    color: white;
    border: none;
    border-radius: .3em;
    font-size: 0.7em;
    font-weight: lighter;
   
}
.btn-danger:hover{
    background-color: rgba(255, 0, 0, 0.397);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: .5em 1% .2em 1%;
    color: red;
    border: 1px solid red;
    border-radius: 40px 30px;
    font-size: 0.8em;
    font-weight: bold;
}

.cart-input{
border: 1px solid #56ccf2;
background-color: rgba(67, 20, 195, 0.068);
text-align: center;
font-family: fantasy;
max-width: 600px;
padding: 0;
border-radius: 20px;
color: var(--secondarytext);
font-size: 1em;
margin-right: 60px;
transition: 1s;
}

.cart-item{
    width: 45%;
}

.cart-quantity{
    width: 35%;
}

.cart-image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.item-title{
    color:gray ;
    margin: .5em;
    font-size: 1.2em;
}
.cart-img{
    width:40px;
     height:auto;
     border-radius: 30px;
}



.cart-row:last-child{
    border-bottom: 1.2px solid rgba(151, 135, 135, 0.568);
}
.cart-row:last-child .cart-column{
    border: none;
}

.total{
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    color: burlywood;
}

.total-title{
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 20px;

}


.total-price{
font-size: 1.2em;
}
.total-price1{
    font-size: 1.2em;
    font-style: italic;
    color: cadetblue;
    }
    


.song-section{
    background-color: rgba(5, 58, 45, 0.972);
    width: fit-content;
    margin-left: 10%;

}

.songname{
    
    width: 100%;
  
    text-align: left;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 15px;
    color: var(--maintext);
}
.order-btn{
    cursor: pointer;
    margin-left: 50%;
    text-align: center;
    width: fit-content;
    font-size: 3em;
    border-radius: 10%;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
.order-btn1{
    cursor: pointer;
    margin-left: 50%;
    text-align: center;
    width: fit-content;
    font-size: 2em;
    border-radius: 10%;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
.GoToCart{
    cursor: pointer;
    transition: 1.3s;
    margin-left: 89%;
    text-align: center;
  width: 12%;
  opacity: 100%;
  color: white;
  font-weight: bolder;
  font-size: 2em;
  border-radius: 30%;
  position: fixed;
background: linear-gradient(5deg, var(--maincolor),rgb(7, 7, 124),transparent,rgba(170, 173, 187, 0.705), var(--maincolor),rgba(255, 255, 0, 0.833), blue);
animation: movinggradient 6s  infinite;
background-size: 700%;
}
.GoToCart:hover{
    opacity: 50%;
    margin-left: 88%;  
    position: fixed;
    width: 11%;
    color: pink;
    border: 2px solid yellow;

}
@keyframes movinggradient{
   0%{
       background-position: 0% 5%;
   }
   50%{
       background-position: 120% 50%;
   }
   100%{
       background-position: 0% 50%;
   }
}


h1,h2,h3,h4,h5,h6, strong{
		font-family: var(--headerfont);
	color:var(--maintext);
}
p, li, span, label, input, textarea{
	color:var(--secondarytext);
	font-family: 'Monoton', cursive;

}



ul{
	list-style: none;
}

h1{ font-size: 60px }
h2{ font-size: 40px }
h3{ font-size: 28px }
h4{ font-size: 24px }
h5{ font-size: 18px }
h6{ font-size: 15px }

#ss1{

	border-bottom:none;

}

.s1{background-color: var(--secondarycolor);
	border-bottom:1px solid var(--bordercolor);
	overflow: auto;
	padding-right: 35px;
	padding-left: 35px;
	max-height: 1650px;
}

.aboutwrapper{
	padding-top: 0;
	background-color: var(--maincolor);
	border: none;
	border-radius: 10px 10px 0 0;

	-webkit-box-shadow:-1px 1px 3px -2px rgba(0,0,0,0.75);
	-moz-box-shadow:1px 1px 3px -2px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 3px -2px rgba(0,0,0,0.75);

	grid-template-columns: 1fr 1fr;
	display: grid;
	grid-template-rows:3em 30em;
	grid-template-areas:
		'navwrapper navwrapper'
		'left right'

	;
	
}



.navwrapper{
	
	display:flex;
	justify-content: space-between;
	align-items:center;
	grid-area: navwrapper;
	background-color: var(--maincolor);
	border-radius: 10px 10px 0 0;

	border-bottom: 1px solid blue;

}
	




.dotswrapper{
	display: inline-flex;
	padding: 5px;

}





.right{

	border-bottom: none;
	grid-area: right;
	padding-top: none;
}


.left{
	border-bottom: none;
	grid-area: left;
    padding-top: 0px;
}



.musicminiheader{

	transition: 1.5s;
	font-size: x-small;
	color: var(--secondarytext);
	opacity: 1000%;
	text-shadow: -1px -1px 2px var(--pol);
}


.iframe1{
opacity: 80%;	
}

.OtherSingles{
	padding-top: 10px;
	padding-left: 20px;
	font-size: smaller;
}

@media screen and (max-width: 280px){

            .zoomin{
                visibility: visible;
            }
            .buybuy{
                font-size: small;
                font-weight: normal;
            }
}

@media screen and (max-width: 360px){
  
    
   .zoomin{
       visibility: visible;
   }
    .GoToCart{
        cursor: pointer;
        transition: 1s;
        margin-left: 10%;
        text-align: center;
      width: 20%;
      opacity: 10000%;
      font-size: 1.2em;
      
    background-size: 50%;
    }
    .GoToCart:hover{
        margin-left: 80%;  
        position: fixed;
        width: 20%;
    
    }
    .order-btn{
        cursor: pointer;
        margin-left: 75%;
        font-size: 1em;
        border-radius: 10%;
    }
    
    .mainnav{
        align-items: left;
        margin-right: 0px;
        position: fixed;
        font-size: x-large;
        width: 100%;
        display: flex;
        height: 8%;
        background-color: rgba(3, 20, 31, 0.918);
        border-bottom: 1px solid var(--bordercolor);
        transition: 0.8s;
    }
    
    
    .mainnav ul{
        flex-grow: 0.7;
        text-align: center;
        color: rgba(255, 248, 220, 0.15);
    
    }
    .mainnav a{
        padding-top: 1%;
        color: rgb(255, 248, 220);
        opacity: 100%;
        
    
    }

}

@media screen and (max-width: 700px){
	.aboutwrapper{


	grid-template-columns: 1fr;


	grid-template-areas:
		'navwrapper '
		'left '
		'right'

	;
	
}
}

@media screen and (max-width: 412px){
    body{
        width: 410px;
    }

    

    .GoToCart{
        transition: 1s;
        margin-left: 80%;
        text-align: center;
      width: 10%;
      opacity: 10000%;
      font-size: 1em;
      font-weight: lighter;
      border-radius: 30%;
      position: fixed;
      background-color: rgb(38, 13, 109);
      background-blend-mode: multiply;
    background-color: darkgray;
    background-size: 10%;
    }
    .GoToCart:hover{
        opacity: 30%;
        margin-left: 80%;  
        position: fixed;
        width: 20%;
    
    }
	.aboutwrapper{


	grid-template-columns: 1fr;


	grid-template-areas:
		'navwrapper '
		'left '
		'right'

	;
	
}

.right{
	justify-content: center;
}
.nav a:hover{
	transition: ease-in-out 0.5s;
    font-size: 85%;
    opacity: 100%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.267);
    color: rgb(255, 248, 220);

}
}


@media screen and (max-width: 320px) {
    
    .zoomin{
        visibility: visible;
    }
    .nav a:hover{
        transition: ease-in-out 0.5s;
        font-size: 2em;
        opacity:3%;
        border-radius: 30px;
    }
        
    
    
    .mainnav{
        align-items: left;
        margin-right: 0px;
        position: fixed;
        font-size: inherit;
        width: 120%;
        display: flex;
        height: 5%;
        background-color: rgba(3, 20, 31, 0.918);
        border-bottom: 1px solid var(--bordercolor);
        transition: 0.8s;
    }
    
    
    .mainnav ul{
        flex-grow: 0.5;
        text-align: center;
        color: rgba(255, 248, 220, 0.15);
    
    }
    .mainnav a{
        padding-top: 1%;
        color: rgb(255, 248, 220);
        opacity: 100%;
        
    
    }
}


@media screen and (max-width: 480px) {

    .GoToCart{
        margin-left: 86%;
      width: 12%;
      font-size: 0.8em;
    
    }

    .mainnav{
            width: 110%;
            padding-right: 0;
            left: -10;
    }
    .muuriheader{
        font-size: 5em;
    }

}
@media screen and (max-width: 768px) {
    html{
        width: 700px;
    }

    .GoToCart{
        width: 12%;
        margin-left: 88%;

    }
}

@media screen and (max-width: 384px) {

        body{
            max-width: 380px;
        }
            .mainnav{
                width: 120% ;
            }

            .footer{
                max-width: 95%;
            }

}


@media screen and (max-width: 414px) {
    html{
        width: 400px;
    }
    .mpesaError {
       margin-left: 10%;
       margin-right: 20%;
   }
    .buybuy{
       transition: 0.3s;
       padding: 10px;
       font-weight: normal;
       font-size: medium;
       }
    .footercontainer{
        padding-right: 20px;
    }
    .muuriheader{
       font-size: 3em;
   }
       .nav a:hover{
           transition: ease-in-out 0.5s;
           font-size: 85%;
           opacity: 100%;
           border-radius: 30px;
           background-color: rgba(255, 255, 255, 0.267);
           color: rgb(255, 248, 220);
       
       }
       .mainnav{
           align-items: center;
           margin-right: 0px;
           position: fixed;
           font-size: inherit;
           width: 120%;
           display: flex;
           height: 5%;
           background-color: rgba(3, 20, 31, 0.918);
           border-bottom: 1px solid var(--bordercolor);
           transition: 0.8s;
       }
       
       
       .mainnav ul{
           flex-grow: 0.5;
           text-align: center;
           color: rgba(255, 248, 220, 0.15);
       
       }
       .mainnav a{
           padding-top: 1%;
           color: rgb(255, 248, 220);
           opacity: 100%;
           
       
       }
   
       .GoToCart{
           cursor: pointer;
           transition: 1s;
           margin-left: 80%;
           text-align: center;
         width: 20%;
         opacity: 10000%;
         font-size: 1.2em;
         color: rgb(245, 245, 245);
         font-weight: bolder;
         border-radius: 30%;
         position: fixed;
         background-color: rgb(38, 13, 109);
         background-blend-mode: multiply;
       background-color: darkgray;
       background-size: 50%;
       }
       .GoToCart:hover{
           opacity: 20%;
           margin-left:80%;  
           position: fixed;
           width: 20%;
       
       }
       .order-btn{
           cursor: pointer;
           margin-left: 75%;
           font-size: 1em;
           border-radius: 10%;
       }
       .cart-section{
           margin-right: 10%;
       }
       .footer{
           position: -webkit-sticky;
       }
   
   }


@media screen and (max-width: 375px) {
 
    .mainnav{
        align-items: center;
        margin-right: 0px;
        position: fixed;
        font-size: inherit;
        width: 130%;
        display: flex;
        height: 3%;
        background-color: rgba(3, 20, 31, 0.918);
        border-bottom: 1px solid var(--bordercolor);
        transition: 0.8s;
    }
    .GoToCart{
        margin-left: 78%;
        font-size: 1em;
        width: 15%;
    }
    



}